/*? sm */
@media (min-width: 576px) {

  .fs-sm-14 {
    font-size: .875rem !important;
  }

  .fs-sm-15 {
    font-size: .9375rem !important;
  }

  .fs-sm-16 {
    font-size: 1rem !important;
  }

  .fs-sm-17 {
    font-size: 1.0625rem !important;
  }

  .fs-sm-19 {
    font-size: 1.1875rem;
  }

  .fs-sm-20 {
    font-size: 1.25rem;
  }

  .fs-sm-48 {
    font-size: 3rem !important;
  }

  .p-sm-30px {
    padding: 1.875rem !important;
  }

  .pt-sm-60 {
    padding-top: 60px;
  }

  .h-sm-hero-img {
    height: calc(var(--spacing) * 75);
  }

  .team {
    .member {
      height: 300px;
    }
  }

  .contact {
    padding-block: 90px;

    form {

      .input {
        padding: .75rem 1rem;
      }
    }
  }

  footer {
    padding-block: 45px;
  }
}

/*? md */
@media (min-width: 768px) {

  .fs-md-16 {
    font-size: 1rem !important;
  }

  .fs-md-18 {
    font-size: 1.125rem !important;
  }

  .fs-md-20 {
    font-size: 1.25rem !important;
  }

  .p-md-32 {
    padding: 2rem !important;
  }

  .pt-md-96 {
    padding-top: 96px;
  }

  .h-sm-hero-img {
    height: calc(var(--spacing) * 96);
  }

  .we-do {

    .content {

      .icon {
        height: 64px;
        width: 64px;

        i {
          font-size: 1.5rem;
        }
      }
    }
  }

  .sponsor-card {
    width: 96px;
    height: 96px;
  }

  .team {
    .member {
      height: 320px;
    }
  }

  .contact {
    padding-block: 96px;

    .join {

      .icon {
        width: 48px;
        height: 48px;
      }
    }
  }

  footer {
    padding-block: 64px;
  }
}

/*? lg */
@media (min-width: 992px) {
  .fs-lg-60 {
    font-size: 3.75rem !important;
  }

  .mb-lg-32 {
    margin-bottom: 2rem !important;
  }

  .px-lg-32 {
    padding-inline: 2rem !important;
  }

  .hero .hero-img .img-wrapper .active-players {
    left: -24px;
    bottom: -24px;
  }

  .games {

    .carousel-control-next,
    .carousel-control-prev {
      width: 56px;
      height: 56px;
    }
  }

  .we-do {
    padding-block: 56px 42px;

    .content {
      grid-template-columns: repeat(4, 1fr);

    }
  }

  .team {
    padding-block: 96px;
  }
}

/*? xl */
@media (min-width: 1200px) {}

/*? xxl */
@media (min-width: 1400px) {
  .container {
    max-width: 80rem;
  }
}